#
 sysname S1
#
 telnet server enable
#
interface M-GigabitEthernet0/0/0
 ip address 192.168.56.10 255.255.255.0
#
 ssh server enable
#
local-user admin class manage
 password hash $h$6$YF8GNmYBaB9+OTJi$wtrU8zyKjBmsQESk3jOYGtbphv/bP8O7kHotYz/wjLMgzSxnWuRqxSikYq9hCsEhSaLGSLOAKMAWxYNHaXE3Bg==
 service-type telnet ssh
 authorization-attribute user-role network-admin
 authorization-attribute user-role network-operator
#

